/*Import fonts*/
@font-face {
    font-family: "Century Gothic";
    src: url("../../fonts/centurygothic.ttf");
    src: url("../../fonts/centurygothic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../../fonts/centurygothic_bold.ttf");
    src: url("../../fonts/centurygothic_bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/*Frequently used properties*/
body {
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 44px;
    color: rgba(255, 255, 255, 1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav_logo {
    cursor: pointer;
}

.nav_list {
    list-style: none;
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav_list > a {
    display: none;
}

.nav_list button {
    display: none;
}

.nav_list li a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.page_active a {
    font-weight: 700;
}

.page_active {
    position: relative;
}

.page_active::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 130%;
    height: 7px;
    border-radius: 28px;
    background: #0063a4;
}

.nav_link {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav_link a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.nav_button{
    border-radius: 43px;
    background: #ff0b80;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 11px 26px;
    cursor: pointer;
    outline: none;
    border: none;
}

.nav_button_link {
    color: #fff !important;
    font-size: 18px;
    font-weight: 700;
}

footer {
    position: relative;
}

.footer_info {
    background: #0063a4;
    padding-top: 89px;
    padding-bottom: 99px;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
}

.footer_main {
    margin-right: 66px;
}

.footer_descr {
    margin-top: 19px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 184.607%;
    max-width: 487px;
    margin-left: 18px;
}

.footer_items {
    margin-top: 45px;
    display: flex;
    gap: 135px;
}

.footer_title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 184.607%;
    margin-bottom: 25px;
}

.footer_list {
    list-style: none;
}

.footer_list li a {
    color: #fff;
    font-size: 20px;
    line-height: 217.607%;
    text-decoration: none;
}

.footer_socials {
    display: flex;
    gap: 25px;
    align-items: center;
}

.footer_subtitle {
    margin-top: 29px;
    margin-bottom: 13px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 217.607%;
}

.footer_rights {
    background: #00426d;
    padding: 28px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 184.607%;
}

.footer_ask {
    position: fixed;
    bottom: 112px;
    right: 50px;
    z-index: 1;
}

.ask_img {
    border-radius: 132px;
    border: 8px solid #fff;
    background-color: #ff0b80;
    width: 132px;
    height: 132px;
    box-shadow: 4px 13px 4px 3px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -50%;
    left: -80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.5s;
}

.ask_text {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 43px;
    background: #ff0b80;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    line-height: 217.607%;
    padding: 6px 55px 10px 72px;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 0;
}

.img_active {
    transform: translateX(58%);
}

.text_active {
    padding: 6px 0 10px 0;
}

.chat {
    width: 368px;
    position: fixed;
    right: 170px;
    bottom: 55px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
    height: 0;
    opacity: 0;
}

.chat.active {
    height: 469px;
    opacity: 1;
}

.chat_head {
    background-color: #ff0b80;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.chat_form {
    margin: 15px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.chat_text {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
}

.chat_form label {
    color: #000;
    font-size: 16px;
}

.chat_form input,
.chat_form textarea {
    border: 1px solid rgb(117, 117, 117);
    background-color: rgb(248, 248, 248);
    color: rgb(17, 17, 17);
    border-radius: 4px;
    margin: 2px 0px;
    transition: all 0.3s;
    padding: 8px;
    margin-bottom: 10px;
}

.chat_form input:focus,
.chat_form textarea:focus {
    outline: none;
    border-color: #ff0b80;
}

.chat_btn {
    padding: 12px;
    color: rgb(255, 255, 255);
    background-color: #ff0b80;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

.chat_form textarea {
    resize: none;
}

/*section_starting*/
.section_starting {
    position: relative;
    background: #0063A4;
}

.starting_container_left {
    margin-top: 150px;
}

.starting_container_left h1 {
    color: #FFF;
    font-size: 64px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
}

.starting_container_left input {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 350px;
}

.search_icon {
    padding: 17px 20px;
    border-radius: 4px;
    margin-left: 14px;
    background: #FF0B80;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.starting_container_right {
    margin-top: 170px;
}

.starting_container_right img {
    width: 100%;
}

/*section_number*/
.section_number {
    padding: 33px 0;
    /*min-height: 20vh;*/
    background-color: #FF0B80;
}

.number_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.number_wrapper h3 {
    color: #FFF;
    font-size: 72px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
}

.number_wrapper p {
    color: #FFF;
    font-size: 24px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
}

/*section_choose_us*/
.section_choose_us {
    padding: 90px 0 135px 0;
}

.section_choose_us h1 {
    color: #2B2B2B;
    text-align: center;
    font-size: 54px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 61px;
}

.choose_us_image_container {
    height: 450px;
}

.choose_us_image_container img {
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.choose_us_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.choose_us_text_container h2 {
    color: #2B2B2B;
    font-size: 36px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
}

.choose_us_text_container p {
    color: #2B2B2B;
    font-size: 23px;
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    line-height: 184.607%;
}


/*section_tutorials */
.section_tutorials {
    padding: 103px 15px 0 15px;
    background-color: #00A17F;
}

.section_tutorials h1 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
}

.section_tutorials h2 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    line-height: 184.607%;
    margin: 22px 0 55px 0;
}

.section_tutorials h3 span {
    font-weight: 700;
}

.video_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 45px 75px;
    border-radius: 44px;
    background-color: #FFF;
    margin-bottom: -210px;
    box-shadow: 0 4px 40px 0 rgba(62, 73, 88, 0.08);
}

.video_wrapper img:first-child {
    width: 100%;
}

.md-trigger {
    position: absolute;
    animation-name: btn_play;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes btn_play {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/*section_features*/
.section_features {
    padding-top: 240px;
    padding-bottom: 240px;
}

.section_features h1 {
    color: #2B2B2B;
    text-align: left;
    font-size: 36px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 45px;
}

.features_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 25px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
    min-height: 600px;
    box-shadow: 0 4px 40px 0 rgba(62, 73, 88, 0.08);
}

.features_card:hover {
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #ff007a;
    opacity: 1;
    box-shadow: 0px 2px 20px 0px gray;
    transform: translateY(-15px);
}


.features_card img {
    max-width: 320px;
}

.features_card h2 {
    color: #2B2B2B;
    text-align: center;
    font-size: 28px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
    line-height: 184.607%;
}

.features_card p {
    color: #2B2B2B;
    text-align: center;
    font-size: 23px;
    font-family: Century Gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 184.607%;
}


/*section_people*/
.section_people {
    padding: 95px 0;
    background-color: #E10C72;
}

.section_people h1 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}


/*section_app*/
.section_app {
    position: relative;
    padding: 95px 0 45px 0;
    background-color: #FCBA4D;
}

.content_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_app h1 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-family: Century Gothic, sans-serif;
    font-weight: 700;
}

.content_app p {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Century Gothic, sans-serif;
    font-weight: 400;
    line-height: 184.607%;
    margin: 25px 0;
}

.content_app p span {
    font-weight: 700;
}


.app_image_1 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 400px;
}

.app_image_2 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 400px;
}

@media (max-width: 1400px) {
    header {
        padding: 51px 40px 41px 20px;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 51px 21px 41px 10px;
    }
    .nav_link {
        gap: 20px;
    }
    .nav_list {
        gap: 30px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 30px;
    }
    .footer_descr {
        margin-left: 0;
    }
    .ask_text {
        display: none;
    }
    .footer_ask {
        bottom: 150px;
        right: 100px;
    }
    .img_active {
        transform: translateX(20%);
    }
}

@media (max-width: 992px) {
    .nav_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        z-index: 2333333333;
        position: fixed;
        width: 50%;
        left: -100%;
        top: 0;
        background: #ff0b80;
        transition: 0.6s all;
    }
    .nav_list li a {
        color: #fff;
    }
    .nav_list.active {
        left: 0;
    }
    .nav_logo {
        display: flex;
        align-items: center;
    }
    .hamburger {
        display: block;
        width: 26px;
        height: 16px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000;
        margin-bottom: 5px;
        transition: 0.5s all;
    }
}

@media (max-width: 768px) {
    .nav_list a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }
    .nav_link a {
        display: none;
    }
    .footer_items {
        flex-direction: column;
        gap: 45px;
    }
    .ask_img {
        width: 100px;
        height: 100px;
    }
    .ask_img img {
        object-fit: cover;
        width: 100%;
    }
    .footer_ask {
        bottom: 130px;
        right: 70px;
    }
    .chat {
        width: 312px;
    }
}

@media (max-width: 576px) {
    .nav_list button {
        display: block;
        background: #0063a4;
    }
    .nav_link {
        display: none;
    }
    .footer_logo a img {
        object-fit: cover;
        width: 100%;
    }
    .footer_wrapper {
        padding-left: 10px;
    }
    .footer_descr {
        font-size: 16px;
    }
    .footer_title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .footer_list li a {
        font-size: 16px;
    }
    .footer_rights {
        padding: 16px 0;
        font-size: 18px;
        line-height: 168.607%;
    }
    .footer_info {
        padding-top: 34px;
        padding-bottom: 58px;
    }
    header {
        padding: 29px 21px 26px 10px;
    }
    .ask_img {
        width: 70px;
        height: 70px;
        border: 3px solid #fff;
    }
    .footer_ask {
        bottom: 90px;
        right: 20px;
    }
    .chat {
        width: 283px;
        right: 20px;
        bottom: 100px;
    }
    .nav_button {
        font-size: 16px;
        padding: 11px 16px;
    }
}



