@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/centurygothic.ttf");
    src: url("../fonts/centurygothic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/centurygothic_bold.ttf");
    src: url("../fonts/centurygothic_bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
}


body {
    background-color: #FEEFDC;
}

.header {
    height: 700px;
    /* background-color: blue; */
}

.header-container {
    margin-top: 40px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container h1 {
    width: 80%;
    font-size: 59px;
}

.header-container span:first-child {
    color: #0063A4;
}

.header-container span:last-child {
    color: #FF0B80;
}

.search_panel {
    width: 80%;
    height: 65px;
    /* display: flex;
    justify-content: space-between; */
}

.search_panel input {
    width: 89%;
    height: 65px;
    padding: 5px 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-bottom: 5px;
}

.search_panel input::placeholder {
    font-size: 18px;
    color: rgba(174, 173, 173, 1);
}

.search_panel button {
    width: 95px;
    height: 65px;
    background-color: rgba(255, 11, 128, 1);
    transition: .7s;
    border: none;
}

.search_panel button:hover {
    background-color: rgb(210, 5, 104);
}

.search_panel button img {
    width: 32px;
    height: 32px;
}

.searcher {
    display: flex;
    justify-content: space-between;
}
  
/* Style the navigation menu */
.myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 102;
    border-bottom: 1px solid #ddd;
}
  
.display-block {
    display: flex;
    flex-direction: column;
}
  
/* Style the navigation links */
#myMenu li {
    background-color: #fff;
    z-index: 20000;
    width: 89%;
}

#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}
  
#myMenu li a:hover {
    background-color: #eee;
}

.header-container img {
    width: 80%;
    height: 598px;
    z-index: 99;
}

.courses {
    background-image: url('../images/background-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1600px;
}

.courses-container {
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-top: 120px;
}

.courses-container h1{
    font-weight: 700;
    line-height: 58.85px;
    margin-bottom: 30px;
}

.courses-cards {
    height: 1150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    width: 48%;
    height: 530px;
    background-color: white;
    padding-top: 25px;
    border: none;
    box-shadow: 2px 23px -5px rgba(0, 0, 0, 0.25);
}

.card img {
    height: 400px;
}

.card p {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.43px;
    color: rgba(43, 43, 43, 1);
}

.learn-more {
    height: 65px;
    background-color: rgba(0, 99, 164, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 29.43;
}

.learn-more:hover {
    background-color: rgb(2, 88, 145);
    transition: .7s;
}

.courses-container button{
    width: 440px;
    height: 90px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 2px 23px -5px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.43px;
}

.courses-container button a{
    text-decoration: none;
    color: #fff;
}

.courses-container button:hover {
    background-color: rgb(12, 12, 12);
    color: white;
}